extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote  Etiam tempor nunc ut elit feugiat imperdiet. Donec mollis, lorem sed congue sollicitudin, dui erat elementum arcu, sit amet ultricies justo velit sed augue. Nullam posuere, quam eget interdum iaculis, nisi lorem maximus tortor, eget eleifend eros est et eros. Ut et tellus ante. Donec suscipit porta pretium.
                p Quisque maximus, odio eu ornare mattis, nisl ligula volutpat arcu, et bibendum urna dui at nulla. Proin eget mauris est. Donec interdum, est id aliquet ultricies, justo risus lacinia erat, quis cursus magna lectus sed ligula. Suspendisse potenti. Sed euismod volutpat nibh vehicula porttitor. In in libero consequat arcu vulputate rutrum.
                p Nam ut risus justo. Vestibulum aliquam lectus lacus, eu aliquet neque suscipit at. Quisque venenatis nisi in nunc venenatis porta. Ut vel turpis finibus, malesuada metus dapibus, ornare leo. Quisque consequat accumsan risus ac ullamcorper. Pellentesque habitant.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Cras sit amet semper tortor, nec gravida turpis. Vivamus euismod ante sit amet tempor gravida. Cras accumsan erat ut lacus lacinia, quis gravida libero euismod.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Cras sit amet semper tortor, nec gravida turpis. Vivamus euismod ante sit amet tempor gravida. Cras accumsan erat ut lacus lacinia, quis gravida libero euismod.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Cras sit amet semper tortor, nec gravida turpis. Vivamus euismod ante sit amet tempor gravida. Cras accumsan erat ut lacus lacinia, quis gravida libero euismod.
